.Sidebar {
    position: fixed;
    display: block;
    display: flex;
    flex-direction: column;
    top: 0px;
    bottom: 0px;
    left: 0px;
    width: 240px;
    background-color: white ;
    z-index: 2;
    grid-column: 0px;

    
}

.Sidebar {
    background-color: white;
    width: 0px;
    z-index: 1;
    transition: width 0.1s;
    
}

.Sidebar-wide {
    width: 250px;
    transition: width 0.1s;
}

.invisible-sidebar a ,
.invisible-sidebar div ,
.invisible-sidebar p,
.invisible-sidebar img
 {
    
    padding-right: 40px;
    visibility: hidden;
}

.sidebar-visibile a,
.sidebar-visibile div,
.sidebar-visibile p,
.sidebar-visibile img
{
    
    visibility: visible;
}



youtube-logo ,
hamnurger-icon
{
visibility: visible;
}
.Sidebar img {
    height: 20px;
}

.align-special {
    
    display: flex;
    align-items: center;
    
}
.align-special img {
    margin: 10px;
}

.align {
    display: flex;
    align-items: center;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 10px;
}
.align:hover{
    cursor: pointer;
    background-color: rgb(233, 231, 231);
    border-radius: 10px;
}
.align img {
    margin: 0px;
}
.align a {
    padding: 0px;
}