body {
    padding-top: 80px;
    
    height: 5000px;
    padding-right: 24px;
    font-family: Arial, Helvetica, sans-serif;
    

}

.body2 {
    display: flex; 
    justify-content: start;
    
}
.body3 {
    width: 100%;
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: 360px 1fr;
    
    margin-left: 20px;
}