body {
    padding-top: 80px;
    
    height: 5000px;
    padding-right: 24px;


}

.body2 {
    display: flex; 
    justify-content: start;
    
}
.body3 {
    display: flex; 
    flex-direction: column;
    margin-left: 20px;
}